header {
    background-color: aqua;
    padding: 20px 0;
}

.header__row {
    display: flex;
    justify-content: space-between;
}

.nav {}

.close,
.burger {
    font-size: 30px;
    display: none;
}

@media (max-width: 767.75px) {
    .close,
    .burger {
        display: block;
    }
    .nav {
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            background-color: #fff;
            padding: 30px;
            display: none;

            &.active {
                display: block;
            }
    }
}