-
    var items = [        
        {
            img: "./assets/imgs/plants/plant1.png",
            title: 'Outdoor',
            count: 30,
            mod_class: "catalog-item--first"
        },
        {
            img: "./assets/imgs/plants/plant2.png",
            title: 'Outdoor',
            count: 30
        },
        {
            img: "./assets/imgs/plants/plant3.png",
            title: 'Outdoor',
            count: 18
        },
        {
            img: "./assets/imgs/plants/plant4.png",
            title: 'Pet Friendly',
            count: 29
        },
        {
            img: "./assets/imgs/plants/plant5.png",
            title: 'Indoor',
            count: 25
        },
        {
            img: "./assets/imgs/plants/plant6.png",
            title: 'Indoor',
            count: 17
        },
        {
            img: "./assets/imgs/plants/plant7.png",
            title: 'Office Collection',
            count: 21,
            mod_class: "catalog-item--last"
        }
    ];