include ../mixins/category-item.pug

section.category.container
    h3.category__subtitle Shop By
    h2.category__title Categories
    .category__row
        //- +category-item('./assets/imgs/category/apple_icon.svg', 'Vegetables & Fruits')
        //- +category-item('./assets/imgs/category/apple_icon.svg', 'Grocery & Staples')
        //- +category-item('./assets/imgs/category/apple_icon.svg', 'Dairy & Eggs')
        //- +category-item('./assets/imgs/category/apple_icon.svg', 'Beverages')
        //- +category-item('./assets/imgs/category/apple_icon.svg', 'Snacks')
        //- +category-item('./assets/imgs/category/apple_icon.svg', 'Home Care')
        +category-item(
            {
                img:'./assets/imgs/category/apple_icon.svg',
                text: 'Vegetables & Fruits'
            }
        )
        +category-item(
            {
                img:'./assets/imgs/category/grocery-staples.svg',
                text: 'Grocery & Staples'
            }
        )
        +category-item(
            {
                img:'./assets/imgs/category/dairy-eggs.svg',
                text: 'Dairy & Eggs'
            }
        )
        +category-item(
            {
                img:'./assets/imgs/category/beverages.svg',
                text: 'Beverages'
            }
        )
        +category-item(
            {
                img:'./assets/imgs/category/snacks.svg',
                text: 'Snacks'
            }
        )
        +category-item(
            {
                img:'./assets/imgs/category/home-care.svg',
                text: 'Home Care'
            }
        )