header
    .container.header__row
        .nav(id="nav")
            menu
                a(href="#") Home
                a(href="#") Home 
                a(href="#") Home 
                a(href="#") Home 
                a(href="#") Home 
                a(href="#") Home 
                a(href="#") Home 
            span.close(id="nav-close") X
        span.burger(id="nav-open") =