//- mixin category-item(img,text)
//-     a(href="#").category__item
//-         img(src=img, alt="Category 1").category__img
//-         span.category__text=text 
mixin category-item(args={})
    a(href="#").category__item
        img(src=args.img, alt="Category 1").category__img
        span.category__text=args.text 